@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Righteous&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.backgrnd{
    background-color: rgb(234, 241, 244,0.4);
    height: 100%;
}

body{
    background-image:url(/imgs/Virg\ pic.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    image-resolution:inherit;
    background-size: cover;
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;

}
/* logo and logo link styling */
h1{
    font-family:'Righteous', cursive;
    color: #df7b29;
    text-align: center;
    font-size: 67px;

}

a:link{
    text-decoration: none;
    color: #df7b29;
}

a:active{
    text-decoration: none;
    color: #df7b29;
}

a:visited{
    text-decoration: none;
    color: #df7b29;
}

a:hover.top-logo{
        color: rgba(0, 58, 108, 0.826);
        font-size: 72px;
        opacity: 0.6;
}

/* Main section styling */ 
/* name styling, under logo */
h2.intro{
    text-align: center;
    color: #0034ad;
    opacity: 0.9;
    margin-right: 12em;
    position: static;
    max-width: 60%;
    font-family: 'caveat', 'cursive';
    font-size: 1.89em;
    flex-wrap: nowrap;
    margin-top: 1.5em;
}
/* software developer styling */
h3.intro{
    margin-right: 5px;
    text-align: center;
    margin-left: 4em;
    position: static;
    max-width: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #df7b29;
}
/* introduction styling */
h2 {
    color: #0034ad;
    opacity: 0.9;
    margin-top: 12.8em;
    font-family: 'Righteous', cursive;
    font-size: 45px;
    text-align: end;
    margin-right: 0.3em;

}

p.welcome{
    background-color: rgba(246, 210, 157, 0.259);
    font-family: fantasy, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    color:#4a2200;
}
/* styles for anchored name in paragrap "kobe adunah" */
p a:active{
    text-decoration: none;
    color: #e63946;

}

p a:link{
    text-decoration: none;
    color: #e63946;
}

p a:visited{
    text-decoration: none;
    color: #0034ad;
}

p a:hover{
    font-size: smaller;
    color: #004b23;
}

/* styles for the image on 2nd section on main */
img{
    transition: ease-in;
    opacity: 0.3;
    border-radius: 13%;
    max-width: fit-content;
    max-height: fit-content;
}

img:hover{
    opacity: 0.87;
}

/* styles for Interest section */
p.int{
    background-color: rgba(246, 210, 157, 0.259);
    font-family: fantasy, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    color:#4b2200;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
    justify-content: space-between;
    margin-top: 4em;
    font-family: 'Righteous', cursive;
    padding-left: 5px;
    padding-right: 5px;
}

li a:hover{
    background-color: rgba(0, 0, 0, 0.181);
    border-radius: 15%;
    font-size: 17px;
    font-weight: bolder;
    color: #0034ad;
}

div.container{
    display: flex;
    justify-content:center 
}
 ul.int{
    list-style: none;
    background-color: rgba(246, 210, 157, 0.259);
    font-family: fantasy, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    color:#3d1b00;
    
}

div.content{
    display: flex;
    justify-content: left;
}

footer p{
    background-color: rgba(246, 210, 157, 0.259);
    font-family: fantasy, sans-serif,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    color:#431e00;
    margin-bottom: 7.3em;
}

div.foot{
    display: flex;
    justify-content: center;
    background-color: #353535a2;
    height: 4em;
    width: auto;
    padding-top: 1em;
}